{{#if tags}}
    {{#foreach tags}}
        <a href="{{url}}" title="{{name}}" class="inline-flex items-center px-2.5 py-0.5 mx-1 rounded-full text-xs font-semibold bg-emerald-100 text-emerald-800">#{{name}}</a>
    {{/foreach}}
{{/if}}
