{{!< default}}

{{#post}}
    <article class="max-w-4xl mx-auto">
        <h1 class="text-4xl font-extrabold mb-12">{{title}}</h1>
        <div class="max-w-none prose lg:prose-lg dark:prose-invert">
            {{content}}
        </div>
    </article>
{{/post}}
